.input-container {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 320px;
    left: 30px;
    gap: 4px;
    border: 2px solid #FFC267;
    border-radius: 15px;
    padding: 14px 20px;
    background-color: #ffffff;
    width: 115px;
    @media (max-width: 768px) {
        top: 0px;
        left: 40px;
     }
}

.input-container .inner-input-main {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 21.78px;
    width: 100%;
    color: #000000;
    background-color: #ffffff;
    border: none;
    outline: unset;
}

