.output-container {
    position: absolute;
    top: 320px;
    right: 0px;
    display: flex;
    align-items: center;
    gap: 4px;
    border: 2px solid #2DD179;
    border-radius: 15px;
    padding: 14px 20px;
    background-color: #ffffff;
    width: 115px;
    @media (max-width: 768px) {
        bottom: 0px;
        left: 40px;
     }
}

.output-container .inner-output-main {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 21.78px;
    width: 100%;
    color: #000000;
    background-color: #ffffff;
    border: none;
    outline: unset;
}

