#root {
  width: 100%;
  background-color: #ffffff;
}


.main-container { 
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 5%;
   padding-inline: 8%;
   padding-block: 10%;
}